@model TreeStructuresSystem.Models.Node


<div class="row">
    <div class="col-md-12 justify-content-center">
        <form asp-action="Edit" >
            @Html.HiddenFor(model => model.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"  maxlength="60" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @Html.DisplayNameFor(model => model.ParentID)
            @Html.DropDownListFor(model => model.ParentID, ViewBag.categoriesList as SelectList, "Select", new { @class = "form-control" })
            <br />          
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-edit">Cancel</button>
                <button type="submit" class="btn btn-info" value="Submit">Edit</button>
            </div>
        </form>
    </div>
</div>

